.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}
.main-center {
  /* margin-bottom: auto;
  margin-top: auto; */
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-center > h1, .main-center > p {
  margin-bottom: var(--margin-m);
}
.main-center > button {
  margin: var(--margin-m)
}

.code-callout {
  max-width: var(--max-width);
  position: absolute;
  bottom: 5%;
  z-index: 2;
  font-family: var(--font-mono);
}

.code-callout .code-p {
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.logo-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-gradient::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.logo-gradient::before,
.logo-gradient::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.hero-text {
  text-align: center;
  line-height: 110%;
}
.subheading {
  font-size: var(--font-size-subheading);
  text-align: center;
  line-height: 150%;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
